.page
  - var url = pageBaseUrl ? pageBaseUrl + '&' : '?';
  ul
    li: a(href=page.start < page.current ? `${url}page=${page.current - 1}` : 'javascript:;') 上一页
    - for (var i = page.start; i <= page.end; i++)
      - if (page.current == i)
        li: span= i
      - else
        li: a(href=`${url}page=${i}`)= i
    li: a(href= page.end > page.current ? `${url}page=${page.current + 1}` : 'javascript:;') 下一页