


mixin form-group(inputType, label, name, value, isRequired, isDisabled)
  .form-group
    label.control-label(for=name)= label + '：'
    if inputType == 'textarea'
      textarea.form-control(name=name id=name disabled=isDisabled)= value
    else
      input.form-control(type=inputType id=name name=name value=value disabled=isDisabled)
    if isRequired
      span.control-help.text-error  *

mixin form-btn(type, btnType, id, label, attr)
  .form-group
    label.control-label
    button.btn(type=btnType id=id class=type && `btn-${type}`)&attributes(attr)= label