extends layout

block content
  .wp-right
    - if(current_user)
      != partial('./sidebar/user_info', {user : current_user})
      include ./sidebar/create_topic
      
  .wp-left
    .panel.index
      .panel-hd 
        div.nav
          a(href="/" class= current_tag === 'all' ? 'active': '') 全部
          each tag in tags
            a(href="/?tag=#{tag}" class= current_tag === tag ? 'active': '')= tag
             
      .panel-bd
        ul.list
          each topic in topics
            li
              .count #{topic.reply_count} / #{topic.visit_count}
              h4
                if topic.top 
                  span.small.label.label-primary.interval-r 置顶
                a(href="/topic/#{topic._id}")= topic.title
              .info
                a.label.label-default.interval-r(href="/?tag=#{topic.tag}")= topic.tag 
                span.author= topic.author.username
                span.date= topic.create_time.toLocaleDateString()
        - var pageBaseUrl = `/?tag=${current_tag}`;
        include ./includes/page