extends layout

block content
  .wp-right
    include ./sidebar/user_info
    include ./sidebar/create_topic
  .wp-left
    .panel.index
      .panel-hd 
        div.nav
          a(href="/" class= current_tag === 'all' ? 'active': '') 全部
          each tag in tags
            a(href="/?tag=#{tag}" class= current_tag === tag ? 'active': '')= tag
             
      .panel-bd
        ul.list
          each topic in topics
            li
              .count #{topic.reply_count} / #{topic.visit_count}
              h4: a(href="/topic/#{topic._id}")= topic.title
              .info
                - if (topic.tag)
                a.label.label-default.interval-r(href="/?tag=#{topic.tag}")= topic.tag 
                span.author= topic.author.username
                span.date= topic.create_time.toLocaleDateString()
        .page
          ul
            li: a(href=page.start < page.current ? "/?tag=#{current_tag}&page=#{page.current - 1}" : 'javascript:;') 上一页
            - for (var i = page.start; i <= page.end; i++)
              - if (page.current == i)
                li: span= i
              - else
                li: a(href="/?tag=#{current_tag}&page=#{i}")= i
            li: a(href= page.end > page.current ? "/?tag=#{current_tag}&page=#{page.current + 1}" : 'javascript:;') 下一页
            
              
                  