extends ./home_base

block panel
  .panel
    .panel-hd <span class="icon-profile"></span> 基本信息
    .panel-bd.user-info.clearfix
      .photo.float-l.interval-r: img(src=user.avatar_url || '/images/photo.png' width="100")
      ul.user-info-info 
        li
          span.icon-user 
          span= user.username
        if user.home
          li 
            span.icon-home 
            a(href=user.home target="_blank")= user.home
        li
          span.icon-email 
          span= user.email
        if user.github
          li 
            span.icon-github 
            a(href=user.github target="_blank")= user.github

  .panel
    .panel-hd <span class="icon-list"></span> 创建的话题
    .panel-bd.list-bd
      ul.list.list-striped
        if topics.length
          +topic_list(topics)
          li.more: a(href='/user/'+ user.username + '/topic') 更多……
        else 
          li.more '还没有发表过主题'
  .panel
    .panel-hd <span class="icon-reply"></span> 最近的回复
    .panel-bd.list-bd
      ul.list.list-striped
        if replys.length
          +reply_list(replys)
          li.more: a(href='/user/'+ user.username + '/reply') 更多……
        else 
          li.more 还没有回复过主题