- if (topic.author)
- var author = topic.author
  .panel
    .panel-hd 作者信息
    .panel-bd.user-info
      .photo: a(href='/user/#{author.username}')
        img(src=author.avatar || '/images/photo.png', alt=author.username, width="90" height="90")
      .info 
        h3: a(href="/user/#{author.username}")= author.username
        p 话题：
          a(href="/user/#{author.username}/topic")= author.topic_count
        p 回复：
          a(href="/user/#{author.username}/reply")= author.reply_count
      p.clearfix= author.signature
        