
- if(username)
  .panel
    .panel-hd 个人信息
    .panel-bd.user-info
      .photo: a(href='/user/#{user.username}')
        img(src=user.avatar || '/images/photo.png', alt=user.username, width="90" height="90")
      .info 
        h3: a(href="/user/#{user.username}")= user.username
        p 话题：
          a(href="/user/#{user.username}/topic")= user.topic_count
        p 回复：
          a(href="/user/#{user.username}/reply")= user.reply_count
      p.clearfix= user.signature
        